global-exclude *

recursive-include src/wattleflow/core *.py

prune .github
prune data/
prune docs/
prune test/
prune tests/
prune tools/category

include README.md LICENSE pyproject.toml requirements-dev.txt