global-exclude *

recursive-include src/wattleflow/core *.py

exclude *.log
exclude *.tmp
exclude *.yaml

prune .github
prune test/
prune tests/
prune tools/category
prune data/
prune docs/

include README.md LICENSE pyproject.toml requirements-dev.txt